<%= form_for [@post, @response] do |f| %>
  <div class="form-group">
    <%= f.label :comment, "Comment" %>
    <%= f.text_field :comment, class: 'form-control' %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.hidden_field :post_id, value: @post.id %>

  <%= f.submit class: 'btn btn-success' %>
<% end %>
