<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= @post.title %></h1>
  </div>
  <div class="panel-body">
    <p><%= @post.body %></p>
  </div>
</div>
  <% if current_user %>
    <% @post.responses.each do |response| %>
    <div class="panel panel-default">
        <div class="panel-body">
          <p><%= response.comment %></p>
          <p><%= response.user.name %></p>
          <% if response.user_id == session[:user_id] %>
            <p><%= link_to 'Delete Response', post_response_path(@post, response), :data => {:method => 'delete', :id => response.id} %></p>
          <% end %>
        </div>
    </div>
    <% end %>
<span><%= link_to "Add Response", new_post_response_path(@post), class: 'btn btn-primary' %></span>
<% else %>
<p>Login to see answers to this post.</p>
  <% end %>
